#page-container {
  height: 100%;
  width: 100%;
  font-weight: bold;
  caret-color: #BCA88D;
  caret-shape: block;
}

#page-label {
  width: 100%;
  height: 5%;
  padding-left: 20px;
  font-size: 20px;

}

.page-text {
  display: inline-block;
  background-color: #f1eae4;
  border-style: none;
  overflow: auto;
  resize: none;
  outline: none;
  color: #BCA88D;
  width: 100%;
  height: 95%;
  padding: 0px 20px 20px 20px;
  font-size: 14px;
}
