nav {
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* pushes left and right apart */
  align-items: center;
  background-color: #3E3F29;
  padding-left: 1.6em;
  padding-right: 1.6em;
}

nav ul {
  list-style: none;
  /* remove bullets */
  display: flex;
  height: 100%;
}

nav ul li {
  height: 100%;
}

nav ul li a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: #BCA88D;
  height: 100%;
  width: 100%;
  padding: 0.8em;
}

nav ul li a:hover {
  /*color: #c4a578;*/
  background-color: #BCA88D;
  background-color: #7D8D86;
}

main {
  gap: 2%;
  background-color: #F1F0E4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.6em;
  height: 95%;
  width: 100%;
}

.container {
  flex: 1;
  /* equal width */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;

}

#left-container {
  border: white dashed 3px;
}

#right-container {
  border: #BCA88D solid 3px;
  border-radius: 6px;
  background-color: #f1eae4;
  color: #BCA88D;
}

page {
  width: 100%;
  height: 100%;
}
